.Landing {
  height: 100vh;
  
  .btn {
    border-radius: 9999px;
  }

  .img-thumbnail {
    border: none;
    background: none;
  }

  footer a {
    color: #5cd6b3;
  }

  .row {
    margin-top: 8rem;
  }
}
